.form {
    display: block;
}

.container-button {
    display:flex;
    justify-content: flex-end;
}

.opacity-icon {
    opacity: 50%;
}

.container-form {
    padding: 2vh 6vw !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    height: 80% !important;

}

.mat-dialog-container {
    width: 40vw !important;
    height: 45vh !important;
}
.add-button {
    margin-top:3vh;
    background-color:#673ab7;
    color: white;
    padding: 0vh 4vw;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}