.form {
    display: block;
}

.container-button {
    display:flex;
    justify-content: flex-end;
}

.opacity-icon {
    opacity: 50%;
}

.container-form {
    padding: 0vh 5vw;
}

.add-button {
    margin-top:3vh;
    background-color:#673ab7;
    color: white;
    padding: 0vh 4vw;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}