<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP5</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="create">Ajouter un docteur</a>
        <a class="nav-item nav-link active" routerLink="modify">Modifier un docteur</a>
        <a class="nav-item nav-link active" routerLink="delete">Supprimer un docteur</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      La Base de Données de l'Hôpital des Beaux Arts
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="medecins">Liste des Docteurs<mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
</div>
